html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

body {
	height: 100vh;
	width: 100vw;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #2d2176;
}

.board {
    width: fit-content;
    height: 40%;
	display: flex;
}

.card {
	display: flex;
	flex-direction: column;
	width: 210px;
	height: 280px;
    background-color: #543fd3;
	padding: 15px;
	margin: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	font-size: 40px;
	color: #ffffff;
	opacity: 80%;
	border-radius: 10px;
	font-weight: bold;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

p.title {
	font-weight: lighter;
	font-size: 20px;
}

p.unit {
	font-size: 20px;
	text-align: right;
}

.button {
	border-radius: 7px;
	font-size: 40px;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
/* div.heart-field, div.temp-field, div.state-field {
	display: flex;
	width: fit-content;
} */